<div class="min-lenght h-6 flex flex-column">
    <div *ngIf="isInvalid; else check" class="warning w-4 h-4 mr-2">
    </div>
    <ng-template #check>
        <div class="check w-4 h-4 mr-2">
            <svg class="check" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M5.16666 8.66667L7.16666 10.6667L11.8333 6" stroke="#16A34A" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </ng-template>
    <div class="text-xs font-normal font-['Roboto']" [ngClass]="{
      'text-gray-500': isInvalid,
      'text-green-600': !isInvalid
    }">
        {{errorLabel}}
    </div>
</div>